/* Riduzione globale del font */
.reveal {
  font-size: 30px;
}

/* Titoli */
.reveal h1 {
  font-size: 1.8em;
}

.reveal h2 {
  font-size: 1.6em;
}

.reveal h3 {
  font-size: 1.2em;
}

.reveal h4 {
  font-size: 0.8em;
}

/* Testo normale */
.reveal p,
.reveal li {
  font-size: 0.9em;
  line-height: 1.3;
}

/* Header sopra la tabella */
.reveal .header-above th {
  font-size: 1.4em;
  font-weight: bold;
}

pre, pre code {
  white-space: pre;
  overflow-x: auto;
  max-width: 100% !important;
}

.region-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin-top: 14px;
  overflow: visible !important;
}

.region-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  overflow: visible;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.region-title {
  font-size: 1.0rem;
  font-weight: 500;
  margin-bottom: 3px;
}

.region-card img {
  width: 100%;
  border-radius: 8px;
  cursor: zoom-in;
  transition: transform 0.25s ease;
}

/* zoom */
.region-card:hover {
  transform: scale(2.2);
  z-index: 9999;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.35);
}

.region-card:nth-child(4n+1):hover { transform-origin: left center;}
.region-card:nth-child(4n+2):hover { transform-origin: center center; }
.region-card:nth-child(4n+3):hover { transform-origin: center center; }
.region-card:nth-child(4n):hover { transform-origin: right center; }

/* evita che l’html_document tagli l’elemento ingrandito */
.main-container,
.region-grid,
.region-card {
  overflow: visible !important;
}

.main-container {
  overflow: visible !important;
}

/* contenitore che contiene il plot */
.img-render{
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
